/* Resetting some default styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting a background color for the entire body */
body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000; /* Set text color */
}

/* Styling the header section */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    text-align: center; /* Center-align the text in the header */
}

header h1 {
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav ul {
    list-style-type: none;
    text-align: center; /* Center-align the list items in the navigation */
}

header nav ul li {
    display: inline-block;
    margin: 0 20px; /* Add spacing between navigation items */
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Styling the hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Adjusting image sizes */
img {
    max-width: 100%;
    height: auto;
}

/* Styling the content sections */
section {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-align: center; /* Center-align the content within the sections */
    background-color: #0072bb;
}

section img {
    max-height: 200px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Add margin to the top of each section to separate them */
#online-reputation-management {
    margin-top: 20px;
}

#social-media-marketing {
    margin-top: 20px;
}

/* Styling the benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styling the footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
